/*============================
     google font import here 
==============================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap");

/*==============================
      common css styles
================================ */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
/*===============================
       navigation menu styles
=================================*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
nav > h2 {
    color: #3a3a3a;
    font-size: 24px;
    cursor: pointer;
}
nav > ul {
    display: flex;
}
nav > ul > li {
    list-style: none;
}
nav > ul > li > a {
    text-decoration: none;
    padding: 10px 20px;
    color: #3a3a3a;
    font-size: 16px;
}
/*==============================
     hero area styles 
================================*/
.hero-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.hero-info {
    flex: 1;
}
.title {
    font-size: 50px;
}
.hero-info > p {
    line-height: 24px;
    margin: 16px 0;
}
.prebook-btn {
    background-color: #e02c6d;
    border-radius: 20px;
    border: 3px solid #e02c6d;
    transition: 1s;
}
.prebook-btn > a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
}
.hero-img > img {
    position: relative;
    cursor: pointer;
}
@keyframes swim {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 20px;
        left: 40px;
    }
    50% {
        top: 40px;
        left: 0;
    }
    75% {
        top: 20px;
        left: -40px;
    }
    100% {
        top: 0;
        left: 0;
    }
}
.hero-img:hover img {
    animation: swim 3s linear 0.2s infinite;
}
/*================================
     company logo section styles 
==================================*/
.company-logo {
    margin-top: 100px;
}
.logos > hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0));
}
.logo {
    display: flex;
    justify-content: space-evenly;
}
.logo > img {
    padding: 10px 20px;
}
/*===============================
     collection section styles 
=================================*/
.popular-collection {
    max-width: 1047px;
    margin: 100px auto;
}
.collection-title {
    font-size: 28px;
    color: #3a3a3a;
    text-align: center;
    margin-bottom: 30px;
}
.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.item {
    width: 329px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}
.item-img {
    display: flex;
    justify-content: center;
}
.item-img > img {
    width: 300px;
    height: 256px;
    margin-top: 15px;
}
.item-info {
    padding: 15px;
}
.item-title {
    font-size: 28px;
}
.price {
    font-size: 24px;
}
.ratings > .fas {
    color: #fb8200;
}
.ratings .fas,span {
    font-size: 14px;
}
.info {
    font-size: 14px;
    margin-top: 20px;
}
.collection-btn {
    text-align: right;
    margin-top: 20px;
}
.collection-btn .fas {
    padding-left: 10px;
}
.collection-btn a {
  text-decoration: none;
  color: #e02c6d;
}
/*==============================
     contact section style 
================================*/
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.contact-form {
    flex: 1;
}
.contact-form > p {
    line-height: 30px;
    margin: 20px 0;
}
.contact-form input {
    border: 1px solid lightslategrey;
    width: 300px;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 10px;
}
.signup-btn {
    padding: 13px 30px;
    background-color: #0a0826;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.feature-img {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.feature-img > img {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}
.feature-img > div {
    position: absolute;
    top: 400px;
    left: -320px;
    transition: ease-out 1.5s;
}
.feature-img:hover div {
    left: 150px;
}
/*=============================
     footer styles 
===============================*/
footer {
    background-color: #0a0826;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-info {
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
}
.footer-info > p {
    color: #d9dbe1;
}
.footer-title {
    font-size: 24px;
}
.social-icon {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.social-icon > .fab {
    background-color: rgba(0, 0, 0, 0.473);
    padding: 10px;
    font-size: 25px;
    border-radius: 15px;
}

/* =======================
  Mobile responsive styles
========================== */
@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
    }
    nav {
        justify-content: center;
    }
    nav > ul {
        display: none;
    }
    .hero-area {
        flex-direction: column-reverse;
        margin-top: 40px;
    }
    .hero-info{
        margin-top: 40px;
    }
    .hero-img > img {
        width: 80%;
    }
    .hero-img:hover img{
        animation: none;
    }
    .hero-info {
        text-align: center;
    }
    .title {
        font-size: 28px;
    }
    .hero-info > p {
        font-size: 14px;
    }
    .logo {
        flex-wrap: wrap;
    }
    .logo > img {
        padding: 5px 0;
    }
    .collections {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .collection-btn{
        margin-right: 20px;
    }
    .contact-section {
        flex-direction: column-reverse;
        padding: 0 20px;
    }
    .contact-form {
        margin-top: 20px;
    }
    .signup-btn {
        margin-top: 20px;
        border-radius: 5px;
    }
    .social-icon {
        justify-content: center;
    }
    .social-icon > .fab {
        margin-right: 10px;
    }
}
/*================================
     Tab responsive styles
=================================== */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    nav {
        justify-content: space-between;
        margin: 20px;
    }
     nav > ul > li > a {
        padding: 10px;
    }
    .container {
        width: 100%;
    }
    .hero-area {
        margin: 80px 20px;
    }

    .title {
        font-size: 30px;
    }
    .hero-img > img {
        width: 80%;
    }
    .logo {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .collections {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
     }
    .collection-btn {
        margin-right: 28px;
        font-size: 20px;
     }
    .contact-section {
        margin: 50px 20px;
    }
    .feature-img > img {
        width: 90%;
    }
    .signup-btn {
        margin-top: 20px;
        border-radius: 10px;
    }
}